<ac-loader *ngIf="isLoading; else loadedData"></ac-loader>
<ng-template #loadedData>
  <div class="max-height-300">
    <mat-list *ngFor="let category of categories">
      <mat-list-item>
        <ac-categories-content-list class="width-100"
                                    [category]="category"
                                    [isActionButtons]="isActionButtons"
                                    [activeId]="activeId"
                                    (onSelect)="select($event)"
                                    (isLoading)="isLoading = $event"></ac-categories-content-list>
      </mat-list-item>
    </mat-list>
  </div>
</ng-template>
<div *ngIf="isAddNewCategorySection">
  <form class="display-flex width-100 margin-top-20px">
    <mat-form-field>
      <input matInput
             placeholder="Nazwa nowej kategorii"
             [value]="newCategoryName"
             (input)="newCategoryName = $event.target.value">
    </mat-form-field>
    <button mat-button
            [disabled]="!newCategoryName"
            (click)="add()"
            color="primary">Dodaj kategorię</button>
  </form>
</div>
