<!--The content below is only a placeholder and can be replaced.-->
<!--<ac-login></ac-login>-->
<div class="main-page-bg"
     [style.background-image]="'url(' + backgroundUrl + ')'">
  <div class="main-page-bg-content">
    <h1>Czego szukasz?</h1>
    <div class="main-page-bg-search">
      <ac-search [config]="getSearchConfig()"
                 (onSubmit)="searchSurveys($event)"></ac-search>
    </div>
  </div>
</div>
<div class="main-page-results-wrapper">
  <ac-loader *ngIf="isLoading; else loadedData"></ac-loader>
  <ng-template #loadedData>
    <ac-result class="main-page-results"
               (onSelect)="displaySurvey($event)"
               [elements]="surveys"></ac-result>
  </ng-template>
</div>
