<div class="profile-bg"
     [style.background-image]="'url(' + backgroundUrl + ')'">
  <div class="profile-bg-content">
    <h1>Podgląd ankiety: {{survey?.response.title}}</h1>
  </div>
</div>
<div class="profile-details-wrapper">
  <mat-card class="profile-details profile-move-up profile-detail">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pytania:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let question of survey?.response.question; let i = index">
        <div class="edit-wrapper">
          <mat-divider></mat-divider>
          <div class="padding-bottom-10px padding-top-10px">
            <p><b>Pytanie: </b>{{question.content}}</p>
          </div>
          <mat-divider></mat-divider>
          <p class="padding-top-10px"><b> Odpowiedzi: </b></p>
          <div *ngFor="let answer of question.answers; let i = index">
            <p [class.active]="answer.active"
               class="cursor-pointer"
               (click)="selectAnswer(question.id, answer.id, answer)"> {{i + 1}}) {{answer.content}}</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
</div>
<button *ngIf="isSolved; else submitButton"
        routerLink="/"
        mat-flat-button
        class="fixed-on-left"
        color="warn">Powrót na stronę głowną</button>
<ng-template #submitButton>
  <button [disabled]="!isDone()"
          (click)="resolveSurvey()"
          mat-flat-button
          class="fixed-on-left"
          color="primary">Wyślij rozwązanie ankiety</button>
</ng-template>
