<div class="profile-bg"
     [style.background-image]="'url(' + backgroundUrl + ')'">
  <div class="profile-bg-content">
    <h1>Wszystko dotyczące Twojego konta!</h1>
  </div>
</div>
<div class="profile-details-wrapper">
  <mat-card class="profile-details profile-move-up">
    <ac-loader *ngIf="isLoadingUserData; else userData"></ac-loader>
    <ng-template #userData>
      <ac-edit-user (onSubmit)="saveChangedUserData($event)"></ac-edit-user>
    </ng-template>
  </mat-card>

  <mat-card *ngIf="surveys.length"
            class="profile-details">
    <mat-list>
      <h3 mat-subheader>Ankiety użytkownika: </h3>
    </mat-list>
    <ac-result class="main-page-results"
               (onSelect)="selectSurvey($event)"
               [elements]="surveys"></ac-result>
  </mat-card>
</div>
